html, body {
    height: 100%;
    /* Separación de otros elementos */
    margin: 0;
    /* Separación de los bordes del marco*/
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    /* Color de fondo */
    background-color: #44254f;
    /* Alineación de texto */
    text-align: left;   
    padding: 15px;
}

header a {
    color:#fff;
    /* Primer valor: Top y Bottom - Segundo valor: Left y Right */
    /* Si son 4, sigue el sentido de las manecillas del reloj */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 30px;
    text-align: left;
}

main p {
    font-size: 18px;
    margin-bottom: 15px;
}

.input-welcome {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.button-ok {
    padding: 10px 20px;
    background-color: #824b92;
    color: #ffffff;
    cursor: pointer;
}

footer {
    background-color: #824b92;
    color: #ffffff;
    text-align: left;
    padding: 15px;
}